@CHARSET "ISO-8859-1";

/*home Styles*/
.login-button{
	
	background-color: yellow;
	font-family: sans-serif;
	font-size: 15px;
	font-weight:bold;
	position:absolute; 
	top: 20em;
	left: 50%;
}
.register-button{
	
	background-color: yellow;
	font-family: sans-serif;
	font-size: 15px;
	font-weight:bold;
	position:absolute; 
	top: 22em;
	left: 50%;
}
.home{
	height: 20em;
	width: 100%;
	
}
.body{
	background-color: olive;
}

/*header styles*/
.head{
	color:aqua;
	position: absolute;
	left: 25%;
	font-size: 3em;
}
.hori-line{
	background-color:black;
	size: 3em;
}

/*footer styles*/
.footer{
	color:aqua;
	font-size: 1em;
}

span{
	font-size: 1em;
	font-style: italic;
}

.hori-line-footer{
	background-color:black;
	size: 3em;
}

/*Login*/
.error{
	color: red;
	font-size: 20px;
	background-color: white;
}
.login{
	font-size: 18px;
}