<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OnlineBankingSystem</display-name>
  <servlet>
    <servlet-name>MainPageServlet</servlet-name>
    <servlet-class>oop.servlet.MainPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>oop.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminPanelServlet</servlet-name>
    <servlet-class>oop.servlet.AdminPanelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>oop.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAccountServlet</servlet-name>
    <servlet-class>oop.servlet.account.AddAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>oop.servlet.UserProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>oop.servlet.customer.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LinkAddAccountServlet</servlet-name>
    <servlet-class>oop.servlet.account.LinkAddAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LinkAddCustomerServlet</servlet-name>
    <servlet-class>oop.servlet.customer.LinkAddCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>oop.servlet.account.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <servlet-class>oop.servlet.account.UpdateAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectAccountServlet</servlet-name>
    <servlet-class>oop.servlet.account.SelectAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>oop.servlet.customer.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>oop.servlet.customer.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectCustomerServlet</servlet-name>
    <servlet-class>oop.servlet.customer.SelectCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTransactionServlet</servlet-name>
    <servlet-class>oop.servlet.transaction.AddTransactionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateTransactionServlet</servlet-name>
    <servlet-class>oop.servlet.transaction.UpdateTransactionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTransactionServlet</servlet-name>
    <servlet-class>oop.servlet.transaction.DeleteTransactionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAccountServlet</servlet-name>
    <servlet-class>oop.servlet.transaction.GetAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFeedbackServlet</servlet-name>
    <servlet-class>oop.servlet.feedback.AddFeedbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateFeedbackServlet</servlet-name>
    <servlet-class>oop.servlet.feedback.UpdateFeedbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteFeedbackServlet</servlet-name>
    <servlet-class>oop.servlet.feedback.DeleteFeedbackServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>MainPageServlet</servlet-name>
    <url-pattern>/MainPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminPanelServlet</servlet-name>
    <url-pattern>/AdminPanelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAccountServlet</servlet-name>
    <url-pattern>/AddAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/UserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LinkAddAccountServlet</servlet-name>
    <url-pattern>/LinkAddAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LinkAddCustomerServlet</servlet-name>
    <url-pattern>/LinkAddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/DeleteAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <url-pattern>/UpdateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectAccountServlet</servlet-name>
    <url-pattern>/SelectAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectCustomerServlet</servlet-name>
    <url-pattern>/SelectCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTransactionServlet</servlet-name>
    <url-pattern>/AddTransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTransactionServlet</servlet-name>
    <url-pattern>/UpdateTransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTransactionServlet</servlet-name>
    <url-pattern>/DeleteTransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAccountServlet</servlet-name>
    <url-pattern>/GetAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFeedbackServlet</servlet-name>
    <url-pattern>/AddFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateFeedbackServlet</servlet-name>
    <url-pattern>/UpdateFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFeedbackServlet</servlet-name>
    <url-pattern>/DeleteFeedbackServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
    <welcome-file>Home.htm</welcome-file>
    <welcome-file>Home.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>